
/* Global Styles Across the Extension */

/* import brand font style from Google API, may be subject to change */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* using universal selector to assign font across all elements */
* {
    font-family: 'Fredoka', Arial, sans-serif;
}

body {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

p {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}
